In [1]:
import pandas as pd

In [2]:
# The path to our CSV file
file = "most-recent-cohorts-all-data-elements-csv-5.csv"

# Read our Kickstarter data into pandas
df5 = pd.read_csv(file)
df5.head()

C:\Users\arleo\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (6,9,1608,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1688,1689,1690,1691,1692,1703,1704,1725,1726,1727,1728,1729,1743) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRYP8_FTNFT,OMENRAP8_FTNFT,OMENRUP8_FTNFT,OMACHT6_PTNFT,OMAWDP6_PTNFT,OMACHT8_PTNFT,OMAWDP8_PTNFT,OMENRYP8_PTNFT,OMENRAP8_PTNFT,OMENRUP8_PTNFT
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www2.aamu.edu/scripts/netpricecalc/npcalc.htm,...,0.0000,0.1727,0.3909,16.0,0.3125,16.0,0.3125,0.0000,0.0000,0.6875
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,...,0.0102,0.2187,0.1385,248.0,0.3589,248.0,0.4032,0.0444,0.2500,0.3024
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,0.0125,0.4375,0.0000,36.0,0.5000,36.0,0.5278,0.0278,0.4444,0.0000
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.0124,0.3209,0.1242,131.0,0.3588,131.0,0.3664,0.0382,0.4351,0.1603
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,...,0.0000,0.3672,0.1977,36.0,0.2778,36.0,0.3056,0.0278,0.5833,0.0833

In [3]:
file2="most-recent-cohorts-treasury-elements-csv-3.csv"
df3=pd.read_csv(file2)
df3

,UNITID,OPEID,OPEID6,INSTNM,COUNT_ED,AGEGE24,PCT_WHITE,PCT_BLACK,PCT_ASIAN,PCT_HISPANIC,...,PCT25_EARN_WNE_P8,PCT75_EARN_WNE_P8,PCT90_EARN_WNE_P8,SD_EARN_WNE_P8,GT_25K_P8,COUNT_NWNE_P9,COUNT_WNE_P9,MN_EARN_WNE_P9,SD_EARN_WNE_P9,GT_25K_P9
0,100654,100200,1002,Alabama A & M University,NaN,0.07999999821186,46.8400001525878,47.9799995422363,1.48000001907348,3.78999996185302,...,15100,38700,60700,21500,0.544,215,1480,33800,27500,0.58783781528472
1,100663,105200,1052,University of Alabama at Birmingham,NaN,0.25999999046325,69.0199966430664,27.7600002288818,1.10000002384185,2.02999997138977,...,23300,52600,74700,36700,0.722,347,2592,44500,38600,0.73726850748062
2,100690,2503400,25034,Amridge University,NaN,0.82999998331069,70.8799972534179,22.5300006866455,1.28999996185302,6.94000005722046,...,18400,52200,78700,30500,0.668,41,174,42400,30500,0.7356321811676
3,100706,105500,1055,University of Alabama in Huntsville,NaN,0.28999999165534,76.3799972534179,18.9799995422363,1.41999995708465,2.54999995231628,...,23300,62100,80700,27600,0.73,152,1106,50200,37700,0.78119349479675
4,100724,100500,1005,Alabama State University,NaN,0.10999999940395,42.6899986267089,52.3199996948242,1.40999996662139,4.09000015258789,...,13800,35700,48400,17300,0.468,297,1810,29400,20000,0.52983427047729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7588,48154401,4220901,42209,National Personal Training Institute of Cleveland,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7589,48387801,4223701,42237,Bay Area Medical Academy - San Jose Satellite ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7590,48400201,4228101,42281,High Desert Medical College,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7591,48414501,4232401,42324,Vantage College-San Antonio,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7592,48621101,4215601,42156,American Institute of Pharmaceutical Technolog...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
clean_df5=df5[["UNITID","OPEID","INSTNM","HIGHDEG","CONTROL","SCH_DEG","UGDS","PPTUG_EF","ADM_RATE","CITY","STABBR",
              "ZIP","LATITUDE","LONGITUDE","INSTURL","POVERTY_RATE","UNEMP_RATE","FAMINC","MD_FAMINC","FAMINC_IND",
              "TUITFTE","INEXPFTE","AVGFACSAL","NPT4_PUB","NPT4_PRIV","COSTT4_A","COSTT4_P","RELAFFIL","ACCREDAGENCY"]]
clean_df5

,UNITID,OPEID,INSTNM,HIGHDEG,CONTROL,SCH_DEG,UGDS,PPTUG_EF,ADM_RATE,CITY,...,FAMINC_IND,TUITFTE,INEXPFTE,AVGFACSAL,NPT4_PUB,NPT4_PRIV,COSTT4_A,COSTT4_P,RELAFFIL,ACCREDAGENCY
0,100654,100200,Alabama A & M University,4,1,3.0,4505.0,0.0626,0.6538,Normal,...,8487.4347826,9657.0,7941.0,7017.0,13435.0,NaN,20809.0,NaN,NaN,Southern Association of Colleges and Schools C...
1,100663,105200,University of Alabama at Birmingham,4,1,3.0,11269.0,0.2671,0.6043,Birmingham,...,29795.357579,10263.0,17548.0,10221.0,16023.0,NaN,22232.0,NaN,NaN,Southern Association of Colleges and Schools C...
2,100690,2503400,Amridge University,4,2,3.0,308.0,0.5714,NaN,Montgomery,...,18765.062241,17071.0,7113.0,3217.0,NaN,8862.0,12133.0,NaN,74.0,Southern Association of Colleges and Schools C...
3,100706,105500,University of Alabama in Huntsville,4,1,3.0,5829.0,0.1911,0.8120,Huntsville,...,25075.698438,8917.0,10619.0,9514.0,18661.0,NaN,20999.0,NaN,NaN,Southern Association of Colleges and Schools C...
4,100724,100500,Alabama State University,4,1,3.0,4740.0,0.0766,0.4639,Montgomery,...,6715.964497,7717.0,7742.0,7940.0,7400.0,NaN,18100.0,NaN,NaN,Southern Association of Colleges and Schools C...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7588,48154401,4220901,National Personal Training Institute of Cleveland,0,3,1.0,NaN,NaN,NaN,Highland Heights,...,19259.888889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accrediting Council for Continuing Education &...
7589,48387801,4223701,Bay Area Medical Academy - San Jose Satellite ...,0,3,1.0,NaN,NaN,NaN,San Jose,...,15386.504132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accrediting Council for Independent Colleges a...
7590,48400201,4228101,High Desert Medical College,0,3,1.0,NaN,NaN,NaN,Lancaster,...,14575.439746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accrediting Council for Continuing Education &...
7591,48414501,4232401,Vantage College-San Antonio,0,3,NaN,NaN,NaN,NaN,San Antonio,...,17210.776256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7592,48621101,4215601,American Institute of Pharmaceutical Technolog...,0,3,NaN,NaN,NaN,NaN,Newark,...,6012.4056604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
clean_df3=df3[["UNITID","OPEID","PCT_WHITE","PCT_BLACK","PCT_ASIAN","PCT_HISPANIC","PCT_BA","PCT_BORN_US"]]
clean_df3

,UNITID,OPEID,PCT_WHITE,PCT_BLACK,PCT_ASIAN,PCT_HISPANIC,PCT_BA,PCT_BORN_US
0,100654,100200,46.8400001525878,47.9799995422363,1.48000001907348,3.78999996185302,13,94.7399978637695
1,100663,105200,69.0199966430664,27.7600002288818,1.10000002384185,2.02999997138977,15.9300003051757,96.5
2,100690,2503400,70.8799972534179,22.5300006866455,1.28999996185302,6.94000005722046,13.2299995422363,94.0899963378906
3,100706,105500,76.3799972534179,18.9799995422363,1.41999995708465,2.54999995231628,17.6700000762939,95.2699966430664
4,100724,100500,42.6899986267089,52.3199996948242,1.40999996662139,4.09000015258789,11.8100004196167,94.5299987792968
...,...,...,...,...,...,...,...,...
7588,48154401,4220901,NaN,NaN,NaN,NaN,NaN,NaN
7589,48387801,4223701,NaN,NaN,NaN,NaN,NaN,NaN
7590,48400201,4228101,NaN,NaN,NaN,NaN,NaN,NaN
7591,48414501,4232401,NaN,NaN,NaN,NaN,NaN,NaN
7592,48621101,4215601,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
new_df = clean_df5.merge(clean_df3, on=['UNITID', 'OPEID'])
new_df

,UNITID,OPEID,INSTNM,HIGHDEG,CONTROL,SCH_DEG,UGDS,PPTUG_EF,ADM_RATE,CITY,...,COSTT4_A,COSTT4_P,RELAFFIL,ACCREDAGENCY,PCT_WHITE,PCT_BLACK,PCT_ASIAN,PCT_HISPANIC,PCT_BA,PCT_BORN_US
0,100654,100200,Alabama A & M University,4,1,3.0,4505.0,0.0626,0.6538,Normal,...,20809.0,NaN,NaN,Southern Association of Colleges and Schools C...,46.8400001525878,47.9799995422363,1.48000001907348,3.78999996185302,13,94.7399978637695
1,100663,105200,University of Alabama at Birmingham,4,1,3.0,11269.0,0.2671,0.6043,Birmingham,...,22232.0,NaN,NaN,Southern Association of Colleges and Schools C...,69.0199966430664,27.7600002288818,1.10000002384185,2.02999997138977,15.9300003051757,96.5
2,100690,2503400,Amridge University,4,2,3.0,308.0,0.5714,NaN,Montgomery,...,12133.0,NaN,74.0,Southern Association of Colleges and Schools C...,70.8799972534179,22.5300006866455,1.28999996185302,6.94000005722046,13.2299995422363,94.0899963378906
3,100706,105500,University of Alabama in Huntsville,4,1,3.0,5829.0,0.1911,0.8120,Huntsville,...,20999.0,NaN,NaN,Southern Association of Colleges and Schools C...,76.3799972534179,18.9799995422363,1.41999995708465,2.54999995231628,17.6700000762939,95.2699966430664
4,100724,100500,Alabama State University,4,1,3.0,4740.0,0.0766,0.4639,Montgomery,...,18100.0,NaN,NaN,Southern Association of Colleges and Schools C...,42.6899986267089,52.3199996948242,1.40999996662139,4.09000015258789,11.8100004196167,94.5299987792968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7588,48154401,4220901,National Personal Training Institute of Cleveland,0,3,1.0,NaN,NaN,NaN,Highland Heights,...,NaN,NaN,NaN,Accrediting Council for Continuing Education &...,NaN,NaN,NaN,NaN,NaN,NaN
7589,48387801,4223701,Bay Area Medical Academy - San Jose Satellite ...,0,3,1.0,NaN,NaN,NaN,San Jose,...,NaN,NaN,NaN,Accrediting Council for Independent Colleges a...,NaN,NaN,NaN,NaN,NaN,NaN
7590,48400201,4228101,High Desert Medical College,0,3,1.0,NaN,NaN,NaN,Lancaster,...,NaN,NaN,NaN,Accrediting Council for Continuing Education &...,NaN,NaN,NaN,NaN,NaN,NaN
7591,48414501,4232401,Vantage College-San Antonio,0,3,NaN,NaN,NaN,NaN,San Antonio,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7592,48621101,4215601,American Institute of Pharmaceutical Technolog...,0,3,NaN,NaN,NaN,NaN,Newark,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN